<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Laboratorium Kesehatan Masyarakat</h1>
  <p>Sistem Informasi Laboratorium Unit Pelayanan Jakarta Barat</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="#"><i class="fas fa-home"></i> Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="navigateInventory()"><i class="fas fa-boxes"></i> Inventaris</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateEmployee()"><i class="fas fa-user-tie"></i> Karyawan</a>
      </li> 
    </ul>
  </div>  
</nav>

<div class="container">
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/Begini-Prinsip-Kerja-Shaker-Incubator-di-Laboratorium-1280x720.jpg" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="assets/FUNGSI-VISCOMETER-BROOKEFIELD-DI-LABORATORIUM-KIMIA-1280x720.jpg" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="assets/Peralatan-laboratorium-pabrik-air-1280x720.jpg" alt="New York" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
<router-outlet></router-outlet>
<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Copyright 2020</p>
</div>

