<div class="container">
  <h2>Form Tambah Karyawan</h2>
  <form action="/action_page.php" (ngSubmit) = "onSubmit()">
    <div class="form-group">
      <label for="InventoryName">Nama Inventaris:</label>
      <input type="text" class="form-control" id="InventoryName" name="InventoryName">
    </div>    
    <div class="form-group">
      <label for="BuyDate">Tanggal Beli:</label>
      <input type="text" class="form-control" id="BuyDate" name="BuyDate">
    </div>
    <div class="form-group">
      <label for="InventoryType">Tipe Inventaris:</label>
      <select class="form-control" id="InventoryType" name="InventoryType">
        <option>Perangkat</option>
        <option>Zat Kimia</option>
        <option>Alat Peraga</option>
      </select>
    </div> 

    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Simpan</button>
    <button type="submit" (click) ="back()" class="btn btn-danger"><i class="fas fa-arrow-left"></i> Kembali</button>
  </form>
</div>