
  <div class="container">
    
    <h2>Tabel Inventaris</h2>   
    <div>
      <button type="button" class="btn btn-success" (click)="addInventory()"><i class="fas fa-plus"></i> Tambah Inventaris</button>
      <p></p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Nama Inventaris</th>
          <th>Tanggal beli</th>
          <th>Jenis Inventaris</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let inventory of inventory_from_db">
         <td>
          {{inventory.InventoryName}}
         </td>
        <td>
          {{inventory.BuyDate | date:'dd MMMM yyyy' }}
        </td>
        <td>
          {{inventory.InventoryType}}
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="editInventory(inventory)"><i class="far fa-edit"> </i> Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteInventory(inventory)"><i class="far fa-trash-alt"></i> Delete</button>
        </td>
       </tr>
      </tbody>
    </table>
  </div>