<div class="container">
  <h2>Form Tambah Karyawan</h2>
  <form action="/action_page.php" (ngSubmit) = "onSubmit()">
    <div class="form-group">
      <label for="nip">NIP:</label>
      <input type="number" class="form-control" id="nip" name="nip">
    </div>    
    <div class="form-group">
      <label for="name">Nama:</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
      <label for="joindate">Tanggal Masuk:</label>
      <input type="text" class="form-control" id="joindate" name="joindate">
    </div> 
    <div class="form-group">
      <label for="address">Alamat:</label>
      <input type="text" class="form-control" id="address" name="address">
    </div>            
    <div class="form-group">
      <label for="position">Jabatan:</label>
      <input type="text" class="form-control" id="position" name="position">
    </div>

    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Simpan</button>
    <button type="submit" (click)="back()" class="btn btn-danger"><i class="fas fa-arrow-left"></i> Kembali</button>
  </form>
</div>