
  <div class="container">
    
    <h2>Tabel Karyawan</h2>   
    <div>
      <button type="button" class="btn btn-success" (click)="addEmployee()"><i class="fas fa-plus"></i> Tambah Karyawan</button>
      <p></p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Nip</th>
          <th>Name</th>
          <th>Tanggal Diterima</th>
          <th>Alamat</th>
          <th>Jabatan</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let employee of employees_from_db">
         <td>
          {{employee.nip}}
         </td>
        <td>
          {{employee.name}}
        </td>
        <td>
          {{employee.joindate | date:'dd MMMM yyyy'}}
        </td>
        <td>
          {{employee.address}}
        </td>
        <td>
          {{employee.position}}
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="editEmployee(employee)"><i class="far fa-edit"></i> Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee)"><i class="far fa-trash-alt"></i> Delete</button>
        </td>
       </tr>
      </tbody>
    </table>
  </div>