<div class="container">
  <h2>Form Edit Karyawan</h2>
  <form [formGroup]="editForm" (ngSubmit) = "onSubmit()">
    <div class="form-group">
      <label for="InventoryName">Nama Inventaris:</label>
      <input type="hidden" formControlName="_id" class="form-control" id=_id>
      <input type="text" formControlName="InventoryName" class="form-control" id="InventoryName" name="InventoryName">
    </div>    
    <div class="form-group">
      <label for="name">Tanggal Beli:</label>
      <input type="text" formControlName="BuyDate" class="form-control" id="BuyDate" name="BuyDate">
    </div>
    <div class="form-group">
      <label for="joindate">Jenis Inventaris:</label>
      <select formControlName="InventoryType" class="form-control" id="InventoryType" name="InventoryType">
        <option>Perangkat</option>
        <option>Zat Kimia</option>
        <option>Alat Peraga</option>
      </select>
    </div> 
    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Simpan</button>
    <button type="submit" (click)="back()" class="btn btn-danger"><i class="fas fa-arrow-left"></i> Kembali</button>
  </form>
</div>